* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: white;
    resize: auto;
    box-sizing: border-box;
    box-sizing: inherit;
}

h1 {
    position: center;
}

h2 {
    text-align: center;
}

.hidden {
    display: none;
}

.movie-card {
    width: 15%;
    padding: 30px;
    opacity: 0.9;
    font-size: 20px;
}
.movie-card:hover {
    opacity: 1;
}

.movie-votes {
    color: yellow;
    font-weight: bolder;
}

#search-bar {
    text-align: right;
}

#search-input {
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    color: white;
    font-size: 14px;
}

#main-title {
    font-size: 40px;
    margin: auto;
    text-align: center;
    padding: 25px 0px;
}

#movies-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    position: auto;
}

#exit-search-btn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: large;
    float: right;
    right: 20%;
    border-radius: 30px;
    opacity: 0.8;
}

#exit-search-btn:hover {
    opacity: 1;
    cursor: pointer;
}

#load-more-movies-btn {
    background-color: black;
    color: white;
    padding: 15px;
    font-size: large;
    position: absolute; top: auto; right: 200px; left: 200px;
    border-radius: 50px;
    opacity: 0.8;
}

#load-more-movies-btn:hover {
    opacity: 1;
    cursor: pointer;
}

